.ola{
    color: green;
}

.form{
    display: flex;
    flex-direction: column ;
    box-shadow: 4px 8px 5px #000f2e5d, -2px -4px 6px #000f2e5d  ;
    background: #39507d17;
    height:100%;
    padding: 4px;
}

#id_autor{
    width: 30%;
    height: 2.5em;
    background: #39507d17;
    border: 2px #39507D solid;
    border-radius: 5px;
}

#id_comentario{
    height: 16em;
    background: #39507d17;
    border: 2px #39507D solid;
    border-radius: 5px;
    margin: 16px 0px;
}

.enviar{
    width: 20%;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto;
    background: #39507d17;
    border: 2px #39507D solid;
    border-radius: 10px;
}
    
.enviar:hover{
    
    border: 4px #39507D solid;
    border-radius: 10px;
}